<h1>Twitter Feed for #NAAwayDay</h1>

<div id="container">
  <% @tweets.each do |tweet| %>
    <div class="tweet-container">
      <section class="tweet-text">
        <%= tweet.text %>
      </section>
      <section class="tweet-username">
        <img src=<%= tweet.profile_image_url %> class="avatar" /> @<%= tweet.screen_name %>
      </section>
      <section class="tweet-picture">
        <% if tweet.media_url %> 
          <img src=<%= tweet.media_url %> />
        <% end %>
      </section>
      <section class="tweet-created-at">
        <%= tweet.created_at %>
      </section>
    </div>

  <% end %>
</div>